<script>    
    /* Fisher-Yates shuffle for random sorting */
    function shuffle(array) {
        let m = array.length;
        while (m) {
            const i = Math.floor(Math.random() * m--);
            [array[m], array[i]] = [array[i], array[m]];
        }
        return array;
    }
    /* init banner image */
    // set up banner images
    {% assign items = site.data[site.metadata] | where_exp: 'item', 'item.home_feature' %}
    var bannerImages = [ 
        {% for i in items %}{ "src": "{{ i.featured_image | relative_url }}", "position": "{{ b.position | default: 'center' }}", "alt": {{ i.title | escape | jsonify }}, "link": "{{ '/items/' | relative_url }}{{ i.objectid }}.html" }{% unless forloop.last %},{% endunless %} {% endfor %}
    ];
    var featuredImage = shuffle(bannerImages).pop();
    // set background image
    var homeBanner = document.getElementById("home-banner");
    homeBanner.style.backgroundImage = `url(${featuredImage.src})`;
    homeBanner.style.backgroundRepeat = "no-repeat";
    homeBanner.style.backgroundSize = "cover";
    homeBanner.style.backgroundPosition = featuredImage.position;
    //homeBanner.style.backgroundAttachment = "fixed";
    // set featured image link
    document.getElementById("featured-image-link").innerHTML = `<a class="text-white fs-6" href="${featuredImage.link}" title="${featuredImage.alt}">Featured Image</a>`;
</script>

