---
# cb examples home page
title: Home
permalink: /
layout: default
custom-foot: js/random-featured-image-js.html
---
<div id="home-banner" class="mb-0 p-0 position-relative border-bottom border-2">

    <div id="home-title-box">
        <div class="title-card p-2 text-end text-white bg-dark bg-opacity-75">
            <div class="container">
                <a class="d-none d-md-block pe-5" href="{{ site.organization-link }}">
                    <img src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home" >
                </a>
                <h1 class="display-4 ml-5 ">{{ site.title }}</h1>
                {% if site.tagline %}<p id="home-tagline">{{ site.tagline }}</p>{% endif %}
            </div>
        </div>
    </div>

    <div id="featured-image-link" class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75"><a class="text-white fs-6" href="">Featured Image</a></div>
</div>

<div class="container my-4">

    <div class="row">

        <div class="col-md-8">

            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title h4">Welcome</h2>
                    <p class="card-text">{{ site.description }}</p>
                    <p class="card-text"><a class="btn btn-lg btn-primary m-2" href="{{ '/browse.html' | relative_url }}">Explore Projects 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite bi-chevron-double-right" viewBox="0 0 16 16" aria-hidden="true">
                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </a></p>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title h5">Share Your Project!</h3>
                    <p class="card-text">Do you have a CollectionBuilder project to be featured in this collection? We encourage anyone who is interested in adding their digital collection to this site to fill out the form below.</p>

                    <p class="card-text"><a class="btn btn-success m-2" href="https://forms.gle/k1fsqiRPo71uULfo8">Submit Your Project 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite bi-share" viewBox="0 0 16 16" aria-hidden="true">
                            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                        </svg>
                    </a></p>

                    <h3 class="card-title h5">Learn More</h3>
                    <a class="btn btn-warning m-2" href="https://collectionbuilder.github.io/">CollectionBuilder Website 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite bi-question-circle" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                        </svg>
                    </a>
                    <a class="btn btn-dark m-2" href="https://github.com/CollectionBuilder">CB GitHub 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite bi-code-slash" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                        </svg>
                    </a>
                </div>
            </div>

            {% include index/carousel.html %}
            
        </div>
        <div class="col-md-4">  

            {% include index/featured-terms.html field="collection_type" title="Collection Types" btn-color="outline-dark" max=8 %}

            {% include index/featured-terms.html field="institution_type" title="Institution Types" btn-color="outline-dark" max=8 %}

        </div>

    </div>
</div>
